.container {
    position: relative;
    overflow: auto;
    width: 100%;
    max-width: 1200px;
    padding-top: 76.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

.text-section, .row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.text-section p {
    font-size: 1.0em;
    text-align: justify;
    line-height: 1.7em;
}

h2 {
    font-size: 1em;
}


@media (max-width: 900px){
    .text-section, .row {
        width: 80%;
    }
}
@media (min-width: 1200px){
    .text-section, .row {
        width: 70%;
    }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  #panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: '\2796'; /* Unicode character for "minus" sign (-) */
  }